name: Validation

on:
  pull_request:
    branches:
      - qa
      - uat
    types: [opened, synchronize,reopened]
    paths:
      - 'force-app/**'

jobs:
  validate-changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: 'Checkout source code'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Mark repo as safe for git'
        run: git config --global --add safe.directory $GITHUB_WORKSPACE
      - name: 'Install Salesforce CLI'
        run: |
          npm install --global @salesforce/cli@latest
      - name: 'Authenticate with Salesforce'
        run: | 
          TARGET_BRANCH=${{ github.event.pull_request.base.ref }}
          if [ "$TARGET_BRANCH" = "qa" ]; then
            echo "${{ secrets.SALESFORCE_PRIVATE_KEY_QA }}" > private-key.pem
            sf org login jwt --client-id "${{ secrets.SALESFORCE_CLIENT_ID_QA }}" --jwt-key-file private-key.pem --username "${{ secrets.SALESFORCE_USERNAME_QA }}" --instance-url "${{ secrets.SALESFORCE_LOGIN_URL_QA }}"
            TARGET_ORG="${{ secrets.SALESFORCE_USERNAME_QA }}"
          elif [ "$TARGET_BRANCH" = "uat" ]; then
            echo "${{ secrets.SALESFORCE_PRIVATE_KEY_UAT }}" > private-key.pem
            sf org login jwt --client-id "${{ secrets.SALESFORCE_CLIENT_ID_UAT }}" --jwt-key-file private-key.pem --username "${{ secrets.SALESFORCE_USERNAME_UAT }}" --instance-url "${{ secrets.SALESFORCE_LOGIN_URL_UAT }}"
            TARGET_ORG="${{ secrets.SALESFORCE_USERNAME_UAT }}"
          elif [ "$TARGET_BRANCH" = "main" ]; then
            echo "${{ secrets.SALESFORCE_PRIVATE_KEY_PRODUCTION }}" > private-key.pem
            sf org login jwt --client-id "${{ secrets.SALESFORCE_CLIENT_ID_PRODUCTION }}" --jwt-key-file private-key.pem --username "${{ secrets.SALESFORCE_USERNAME_PRODUCTION }}" --instance-url "${{ secrets.SALESFORCE_LOGIN_URL_PRODUCTION }}"
            TARGET_ORG="${{ secrets.SALESFORCE_USERNAME_PRODUCTION }}"
          else
            echo "Invalid target branch: $TARGET_BRANCH"
            exit 1
          fi
          echo "TARGET_ORG=$TARGET_ORG" >> $GITHUB_ENV
      - name: 'Validate Changed Files'
        id: validate-changed-files
        run: |
          COMPARE_REF=${{ github.event.pull_request.base.sha }}

          echo "Comparing changes from $COMPARE_REF to HEAD"

          CHANGED_FILES=$(git diff --name-only $COMPARE_REF ${{ github.event.pull_request.head.sha }} | grep '^force-app/' || true)

          if [ -z "$CHANGED_FILES" ]; then
            echo "No metadata changes detected in force-app/"
            exit 78
          fi

          echo "Changed files:"
          echo "$CHANGED_FILES"
          CHANGED_PATHS=$(echo "$CHANGED_FILES" | tr '\n' ' ' | sed 's/,$//')
          sf project deploy start --dry-run --target-org $TARGET_ORG --source-dir $CHANGED_PATHS --ignore-conflicts